---
import DefaultUser from "@/astro/users/DefaultUser.astro";
import Inquiry from "@/astro/users/Inquiry.astro";
import NavBar from "@/astro/shared/NavBar.astro";
import Copyright from "@/astro/shared/Copyright.astro";
import { LoadScriptBackground } from "@/preact/utils/utils";

export interface Props {
  route: string;
}

const { route } = Astro.props as Props;
---

<LoadScriptBackground client:only="preact" />

<div
  class="relative w-full overflow-hidden h-screen bg-gray-800"
  id="particles-js"
>
  <div class="absolute inset-x-0 top-0 z-50">
    <NavBar />
  </div>
  {
    () => {
      switch (route) {
        case "default":
          return <DefaultUser />;  
        case "inquiry":
          return <Inquiry />
        default:
          break;
      }
    }
  }

  <div class="absolute inset-x-0 bottom-0">
    <Copyright />
  </div>
</div>