<h2
  class="absolute inset-x-9 top-9 text-center text-lg font-bold p-10 text-gray-200"
>
  Encuesta
</h2>
<div
  transition:animate="fade"
  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full"
>
  <div class="flex items-center justify-center">
    <iframe
      class="rounded-xl"
      src="https://copilotstudio.microsoft.com/environments/Default-32c67a4e-23f3-41ad-b463-a807bd1f2c9b/bots/cr3a3_copilotSmartCitiesoKP3CE/webchat?__version__=2"
      style="min-width: 400px; width: 60%; min-height: 700px; height:80%"
      title="Chat Bot Encuesta"></iframe>
  </div>
</div>