---
import InitUser from "@/astro/users/InitUser.astro";
import { GetSession } from "@/preact/auth/auth";

export interface Props {
  title: string;
  route: string;
}

const { title, route } = Astro.props as Props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="A Project Smart Cities..." />
    <link rel="icon" type="image/svg+xml" href="/img/smart-city.png" />
    <title>{title}</title>
  </head>
  <body>
    <GetSession client:only="preact">
      <InitUser route={route} />
    </GetSession>
  </body>
</html>
<style>
  body {
    font-family: system-ui;
  }
</style>