<h1 class="">Smart Cities</h1>
<div>
    <h2>Chat Embed</h2>
    <div>
        <iframe
            src="https://webchat.botframework.com/embed/Language-SmartCities-bot?s=YRs1TgZjfes.6QFoUq4AC23QoevIGMQAS1ATRB8_EYhJaaF3x3RNzoY"
            style="min-width: 400px; width: 100%; min-height: 500px;"></iframe>
    </div>
</div>