---
import { Utils } from '@/libs/utils';
import { Auth0Client } from "@auth0/auth0-spa-js";

const uidBtnIngresar = new Utils().uid();

const _auth0 = {
  domain: "dev-kcy3reakiy7ti8ld.us.auth0.com",
  clientId: "FkfT6XX4pwTr6F1XAJL89kP1WcTHkaRc", 
};
---

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <button
    id={uidBtnIngresar}
    type="button"
    class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >Ingresa o Registrate
  </button>
</div>

<script define:vars={{uidBtnIngresar, _auth0}} type="module" >
  import { Auth } from '/src/libs/auth';

  const _auth = new Auth();

  // const _auth0 = await configureClientAuth0;
  // console.log(configureClientAuth0);
  _auth.AddClickBtn({uidBtnIngresar, _auth0});
</script>